# Data Science Immersive: Project 4
## Predicting West Nile virus across the City of Chicago
***

### Import Libraries

In [1]:
import os
import plotly.express as px
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import datetime as dt

#pd.set_option('display.max_rows', 500)

MAPBOX_TOKEN = 'pk.eyJ1IjoibWFyaWVkcmV6IiwiYSI6ImNsOXl5dTFtZjAyYm4zd28zN3Y1ZzYycm0ifQ.W1Toe6X5S9AELY56h0OQDw'

### Import Data

In [2]:
for files in os.listdir():
    print(files) if files.endswith('csv') else None

In [4]:
# Read in .csv files as pandas dataframe
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
spray_df = pd.read_csv('./data/spray.csv')
weather_df = pd.read_csv('./data/weather.csv')

In [5]:
# lowercasing column names
train_df = train_df.rename(columns=str.lower)
test_df = test_df.rename(columns=str.lower)
spray_df = spray_df.rename(columns=str.lower)
weather_df = weather_df.rename(columns=str.lower)

In [6]:
# View top few rows of all datasets
print("Top few rows of train_df")
display(train_df.head())
print("\n")
print("Top few rows of test_df")
display(test_df.head())
print("\n")
print("Top few rows of spray_df")
display(spray_df.head())
print("\n")
print("Top few rows of weather_df")
display(weather_df.head())

Top few rows of train_df

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

Top few rows of test_df

,id,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

Top few rows of spray_df

         date        time   latitude  longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

Top few rows of weather_df

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [7]:
# Summarise all datasets
print("train_df summary")
display(train_df.describe())
print(" ")
print("test_df summary")
display(test_df.describe())
print(" ")
print("spray_df summary")
display(spray_df.describe())
print(" ")
print("weather_df summary")
display(weather_df.describe())

train_df summary

,block,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

test_df summary

,id,block,latitude,longitude,addressaccuracy
count,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000
mean,58147.000000,41.131100,41.849389,-87.693658,7.954357
std,33571.041765,24.864726,0.106593,0.080699,1.252733
min,1.000000,10.000000,41.644612,-87.930995,3.000000
25%,29074.000000,18.000000,41.753411,-87.750938,8.000000
50%,58147.000000,39.000000,41.862292,-87.694991,8.000000
75%,87220.000000,61.000000,41.951866,-87.648860,9.000000
max,116293.000000,98.000000,42.017430,-87.531635,9.000000

spray_df summary

           latitude     longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

weather_df summary

,station,tmax,tmin,dewpoint,resultspeed,resultdir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

Imbalanced classes in data

In [8]:
train_df.wnvpresent.value_counts()

0    9955
1     551
Name: wnvpresent, dtype: int64

Unique Values

In [9]:
# View unique values for each column in train_df
for col in train_df:
    print(train_df[col].unique())

['2007-05-29' '2007-06-05' '2007-06-26' '2007-06-29' '2007-07-02'
 '2007-07-11' '2007-07-18' '2007-07-19' '2007-07-25' '2007-07-27'
 '2007-08-01' '2007-08-02' '2007-08-03' '2007-08-07' '2007-08-08'
 '2007-08-09' '2007-08-15' '2007-08-16' '2007-08-17' '2007-08-21'
 '2007-08-22' '2007-08-24' '2007-08-28' '2007-09-04' '2007-09-05'
 '2007-09-06' '2007-09-12' '2007-09-18' '2007-09-19' '2007-09-24'
 '2007-09-25' '2007-10-04' '2007-10-09' '2009-05-28' '2009-06-02'
 '2009-06-03' '2009-06-05' '2009-06-12' '2009-06-15' '2009-06-19'
 '2009-06-22' '2009-06-26' '2009-06-29' '2009-07-06' '2009-07-10'
 '2009-07-13' '2009-07-17' '2009-07-24' '2009-07-27' '2009-07-31'
 '2009-08-07' '2009-08-13' '2009-08-25' '2009-08-27' '2009-09-03'
 '2009-09-14' '2009-09-17' '2009-09-25' '2009-10-01' '2011-06-10'
 '2011-06-17' '2011-06-24' '2011-06-30' '2011-07-11' '2011-07-15'
 '2011-07-25' '2011-07-29' '2011-08-05' '2011-08-12' '2011-08-19'
 '2011-08-26' '2011-09-01' '2011-09-02' '2011-09-12' '2011-09-16'
 '2011-09-23' '2011-09-30' '2013-06-07' '2013-06-14' '2013-06-21'
 '2013-06-27' '2013-06-28' '2013-07-08' '2013-07-12' '2013-07-19'
 '2013-07-25' '2013-08-01' '2013-08-08' '2013-08-15' '2013-08-22'
 '2013-08-29' '2013-09-06' '2013-09-12' '2013-09-19' '2013-09-26']
['4100 North Oak Park Avenue, Chicago, IL 60634, USA'
 '6200 North Mandell Avenue, Chicago, IL 60646, USA'
 '7900 West Foster Avenue, Chicago, IL 60656, USA'
 '1500 West Webster Avenue, Chicago, IL 60614, USA'
 '2500 West Grand Avenue, Chicago, IL 60654, USA'
 '1100 Roosevelt Road, Chicago, IL 60608, USA'
 '1100 West Chicago Avenue, Chicago, IL 60642, USA'
 '2100 North Stave Street, Chicago, IL 60647, USA'
 '2200 North Cannon Drive, Chicago, IL 60614, USA'
 '2200 West 113th Street, Chicago, IL 60643, USA'
 '1100 South Peoria Street, Chicago, IL 60608, USA'
 '1700 West 95th Street, Chicago, IL 60643, USA'
 '2200 West 89th Street, Chicago, IL 60643, USA'
 'North Streeter Drive, Chicago, IL 60611, USA'
 '6500 North Oak Park Avenue, Chicago, IL 60631, USA'
 '7500 North Oakley Avenue, Chicago, IL 60645, USA'
 '1500 North Long Avenue, Chicago, IL 60651, USA'
 '8900 South Carpenter Street, Chicago, IL 60620, USA'
 '9100 West Higgins Avenue, Chicago, IL 60656, USA'
 '3600 North Pittsburgh Avenue, Chicago, IL 60634, USA'
 '7200 North Oketo Avenue, Chicago, IL 60631, USA'
 '3800 North California Avenue, Chicago, IL 60618, USA'
 '4900 West Balmoral Avenue, Chicago, IL 60630, USA'
 '5800 North Western Avenue, Chicago, IL 60659, USA'
 '5000 South Central Avenue, Chicago, IL 60638, USA'
 '1400 North Sacramento Avenue, Chicago, IL 60622, USA'
 'South Vincennes Avenue, Chicago, IL, USA'
 'University of Illinois at Chicago, 1100 South Ashland Avenue, Chicago, IL 60607, USA'
 '1100 South State Street, Chicago, IL 60605, USA'
 '4200 West 127th Street, Alsip, IL 60803, USA'
 '5300 West Agatite Avenue, Chicago, IL 60630, USA'
 '4000 North Austin Avenue, Chicago, IL 60634, USA' 'Chicago, IL, USA'
 '4200 North Richmond Street, Chicago, IL 60618, USA'
 '2800 North Francisco Avenue, Chicago, IL 60618, USA'
 '1500 West Granville Avenue, Chicago, IL 60660, USA'
 '1800 West Farwell Avenue, Chicago, IL 60626, USA'
 '7000 West Armitage Avenue, Chicago, IL 60707, USA'
 '2500 South Millard Avenue, Chicago, IL 60623, USA'
 '2100 North Lawler Avenue, Chicago, IL 60639, USA'
 '3500 West 116th Street, Chicago, IL 60655, USA'
 '9300 South Doctor Martin Luther King Junior Drive, Chicago, IL 60619, USA'
 '3700 North Kedvale Avenue, Chicago, IL 60641, USA'
 '4500 North Campbell Avenue, Chicago, IL 60625, USA'
 '4000 North Tripp Avenue, Chicago, IL 60641, USA'
 '4600 Milwaukee Avenue, Chicago, IL 60630, USA'
 '6000 North Avondale Avenue, Chicago, IL 60631, USA'
 '7000 North Moselle Avenue, Chicago, IL 60646, USA'
 '6100 North Lemont Avenue, Chicago, IL 60646, USA'
 '2700 South Western Avenue, Chicago, IL 60608, USA'
 '6800 West Belden Avenue, Chicago, IL 60707, USA'
 '2100 South Hamlin Avenue, Chicago, IL 60623, USA'
 '3000 West 18th Street, Chicago, IL 60608, USA'
 '1100 South California Avenue, Chicago, IL 60612, USA'
 '2500 South Throop Street, Chicago, IL 60608, USA'
 '1000 West 95th Street, Chicago, IL 60643, USA'
 '1000 South California Avenue, Chicago, IL 60612, USA'
 '9600 South Hoyne Avenue, Chicago, IL 60643, USA'
 '1800 West Leland Avenue, Chicago, IL 60640, USA'
 '6100 West Fullerton Avenue, Chicago, IL 60639, USA'
 '6400 West Strong Street, Chicago, IL, USA'
 '1200 West Greenleaf Avenue, Chicago, IL 60626, USA'
 '1000 North Central Park Avenue, Chicago, IL 60651, USA'
 '2000 East 111th Street, Chicago, IL 60628, USA'
 '3300 North Rutherford Avenue, Chicago, IL 60634, USA'
 '1100 North Artesian Avenue, Chicago, IL 60622, USA'
 '6000 West Roscoe Street, Chicago, IL 60634, USA'
 '6000 West Montrose Avenue, Chicago, IL 60634, USA'
 '3300 West Randolph Street, Chicago, IL 60612, USA'
 '3300 West 104th Street, Chicago, IL 60655, USA'
 '4900 West Sunnyside Avenue, Chicago, IL 60630, USA'
 '3000 South Hoyne Avenue, Chicago, IL 60608, USA'
 '4200 West 31st Street, Chicago, IL 60623, USA'
 '1700 North Pulaski Road, Chicago, IL 60639, USA'
 '2200 West Pershing Road, Chicago, IL 60609, USA'
 '2200 West 51st Street, Chicago, IL 60609, USA'
 '3500 West 51st Street, Chicago, IL 60632, USA'
 'Chicago Midway International Airport (MDW), 5200 West 63rd Street, Chicago, IL 60638, USA'
 '6700 South Kedzie Avenue, Chicago, IL 60629, USA'
 '7300 Cicero Avenue, Chicago, IL 60638, USA'
 '2200 West 69th Street, Chicago, IL 60636, USA'
 '5200 South Nordica Avenue, Chicago, IL 60638, USA'
 '6100 South Melvina Avenue, Chicago, IL 60638, USA'
 '1000 East 67th Street, Chicago, IL 60637, USA'
 '3900 South Ashland Avenue, Chicago, IL 60609, USA'
 '4700 South Cornell Avenue, Chicago, IL 60615, USA'
 '5500 South Doctor Martin Luther King Junior Drive, Chicago, IL 60637, USA'
 '6400 South Stony Island Avenue, Chicago, IL 60637, USA'
 '7100 South South Shore Drive, Chicago, IL 60649, USA'
 '7700 South Eberhart Avenue, Chicago, IL 60619, USA'
 '4000 South Dearborn Street, Chicago, IL 60609, USA'
 '5000 South Union Avenue, Chicago, IL 60609, USA'
 '7900 South South Chicago Avenue, Chicago, IL 60617, USA'
 '5200 South Kolmar Avenue, Chicago, IL 60632, USA'
 '6300 West 64th Street, Chicago, IL 60638, USA'
 '3700 South Pulaski Road, Chicago, IL 60623, USA'
 'South Doty Avenue, Chicago, IL, USA'
 'South Stony Island Avenue, Chicago, IL, USA'
 'South Torrence Avenue, Chicago, IL, USA'
 'South Mackinaw Avenue, Chicago, IL 60617, USA'
 'South Brandon Avenue, Chicago, IL 60617, USA'
 '3700 118th Street, Chicago, IL 60617, USA'
 '3800 East 115th Street, Chicago, IL 60617, USA'
 'East 91st Street, Chicago, IL, USA'
 '2400 East 105th Street, Chicago, IL 60617, USA'
 '8000 South Kedzie Avenue, Chicago, IL 60652, USA'
 '6500 South Racine Avenue, Chicago, IL 60636, USA'
 'East 138th Street, Riverdale, IL 60827, USA'
 '8900 South Muskegon Avenue, Chicago, IL 60617, USA'
 '9800 South Avenue G, Chicago, IL 60617, USA'
 'South Cottage Grove Avenue, Chicago, IL, USA'
 'South Avenue L, Chicago, IL 60617, USA'
 '5800 North Pulaski Road, Chicago, IL 60646, USA'
 '6600 South Kilpatrick Avenue, Chicago, IL 60629, USA'
 'West 37th Place, Chicago, IL, USA'
 '4000 East 130th Street, Chicago, IL 60633, USA'
 '9100 West Higgins Road, Rosemont, IL 60018, USA'
 "ORD Terminal 5, O'Hare International Airport, Chicago, IL 60666, USA"
 'Ohare Court, Bensenville, IL 60106, USA'
 '4800 West Montana Street, Chicago, IL 60639, USA'
 '5100 North Mont Clare Avenue, Chicago, IL 60656, USA'
 '8200 South Kostner Avenue, Chicago, IL 60652, USA'
 'East 91st Place, Chicago, IL, USA'
 '1700 West Addison Street, Chicago, IL 60613, USA'
 'West Garfield Boulevard, Chicago, IL, USA'
 'South Wallace Street, Chicago, IL, USA'
 '1300 North Laramie Avenue, Chicago, IL 60651, USA'
 '3900 North Springfield Avenue, Chicago, IL 60618, USA'
 '1700 North Ashland Avenue, Chicago, IL 60622, USA'
 '5100 West 72nd Street, Chicago, IL 60638, USA'
 '5800 North Ridge Avenue, Chicago, IL 60660, USA'
 '4200 West 65th Street, Chicago, IL 60621, USA'
 '7100 North Harlem Avenue, Chicago, IL 60631, USA'
 '6200 North Mcclellan Avenue, Chicago, IL 60646, USA'
 '2900 West 85th Street, Chicago, IL 60652, USA'
 '3400 West 77th Street, Chicago, IL 60652, USA'
 '9600 South Longwood Drive, Chicago, IL 60643, USA'
 '2100 North Cannon Drive, Chicago, IL 60614, USA']
['CULEX PIPIENS/RESTUANS' 'CULEX RESTUANS' 'CULEX PIPIENS'
 'CULEX SALINARIUS' 'CULEX TERRITANS' 'CULEX TARSALIS' 'CULEX ERRATICUS']
[41 62 79 15 25 11 21 22 17 53 65 75 89 91 36 72 38 49 58 50 14 10 42 40
 43 28 18 70 35 93 37 45 46 60 61 27 68 30 96 64 12 20 33 52 67 73 39 47
 55 71 77 63 13 81 24 80 82 98 66 48 51 90 29 34]
[' N OAK PARK AVE' ' N MANDELL AVE' ' W FOSTER AVE' ' W WEBSTER AVE'
 ' W GRAND AVE' ' W ROOSEVELT' ' W CHICAGO' ' N STAVE ST' ' N CANNON DR'
 ' W 113TH ST' ' S PEORIA ST' ' W 95TH ST' ' W 89TH ST' ' N STREETER DR'
 ' N OAKLEY AVE' ' N LONG AVE' ' S CARPENTER ST' ' W HIGGINS AVE'
 ' N PITTSBURGH AVE' ' N OKETO AVE' ' N CALIFORNIA AVE' ' W BALMORAL AVE'
 ' N WESTERN AVE' ' S CENTRAL AVE' ' N HUMBOLDT DR' ' S VINCENNES'
 ' S ASHLAND AVE' ' S STATE ST' ' W 127TH PL' ' W AGATITE AVE'
 ' N AUSTIN AVE' ' N ASHLAND AVE OVERPASS' ' N RICHMOND ST'
 ' N FRANCISCO AVE' ' W GRANVILLE AVE' ' W FARWELL AVE'
 '  W ARMITAGE AVENUE' ' S MILLARD AVE' ' N LAWLER AVE' ' W 116TH ST'
 ' S DR MARTIN LUTHER KING JR DR' ' N KEDVALE AVE' ' N CAMPBELL AVE'
 ' N TRIPP AVE' ' N MILWAUKEE AVE' ' N AVONDALE AVE' ' N MOSELL AVE'
 ' N LEMONT AVE' ' S WESTERN AVE' ' W BELDEN AVE' ' S HAMLIN AVE'
 ' W 18TH ST' ' S CALIFORNIA' ' S THROOP' ' S CALIFORNIA AVE'
 ' S HOYNE AVE' ' W LELAND AVE' ' W FULLERTON AVE' ' W STRONG ST'
 ' W GREENLEAF AVE' ' N CENTRAL PARK DR' ' E 111TH ST' ' N RUTHERFORD AVE'
 ' S ARTESIAN AVE' ' W ROSCOE ST' ' W MONTROSE DR' ' E RANDOLPH ST'
 ' W 104TH ST' ' W SUNNYSIDE AVE' ' W 31ST ST' ' N PULASKI RD'
 ' W PERSHING RD' ' W 51ST ST' ' W 63RD ST' ' S KEDZIE AVE'
 ' S CICERO AVE' ' W 69TH ST' ' S NORDICA' ' S MELVINA AVE' ' E 67TH ST'
 ' S CORNELL AVE' ' S STONY ISLAND AVE' ' S SOUTH SHORE DR'
 ' S EBERHART AVE' ' S DEARBORN ST' ' S UNION AVE' ' S CHICAGO AVE'
 ' S KOLMAR' ' W 64TH ST' ' S PULASKI RD' ' S DOTY AVE' ' S TORRENCE AVE'
 ' S MACKINAW' ' S BRANDON' ' E 118TH ST' ' E 115TH ST' ' E 91ST ST'
 ' E 105TH ST' ' S RACINE AVE' ' E 138TH ST' ' S MUSKEGON AVE'
 ' S AVENUE G' ' S COTTAGE GROVE' ' S AVENUE L' ' S KILPATRICK AVE'
 ' W 37TH PL.' ' E 130TH ST' ' W HIGGINS RD' ' W OHARE AIRPORT' ' W OHARE'
 ' W MONTANA ST' ' N MONT CLARE AVE' ' S KOSTNER AVE' ' E 91ST PL'
 ' W ADDISON ST' ' W GARFIELD BLVD' ' S WALLACE ST' ' N LARAMIE AVE'
 ' N SPRINGFIELD AVE' ' N ASHLAND AVE' ' W 72ND ST' ' N RIDGE AVE'
 ' W 65TH ST' ' N HARLEM AVE' ' N MCCLELLAN AVE' ' W 85TH ST' ' W 77TH ST'
 ' S LONGWOOD DR']
['T002' 'T007' 'T015' 'T045' 'T046' 'T048' 'T049' 'T050' 'T054' 'T086'
 'T091' 'T094' 'T096' 'T129' 'T143' 'T148' 'T153' 'T159' 'T009' 'T011'
 'T016' 'T019' 'T025' 'T028' 'T031' 'T033' 'T089' 'T090' 'T092' 'T135'
 'T141' 'T142' 'T145' 'T146' 'T147' 'T149' 'T150' 'T151' 'T152' 'T154'
 'T158' 'T162' 'T218' 'T220' 'T001' 'T003' 'T006' 'T008' 'T012' 'T034'
 'T037' 'T040' 'T043' 'T047' 'T051' 'T085' 'T088' 'T161' 'T219' 'T013'
 'T014' 'T018' 'T030' 'T084' 'T144' 'T160' 'T005' 'T017' 'T044' 'T095'
 'T004' 'T035' 'T036' 'T039' 'T060' 'T061' 'T062' 'T065' 'T066' 'T067'
 'T069' 'T070' 'T071' 'T073' 'T074' 'T075' 'T076' 'T077' 'T079' 'T080'
 'T081' 'T082' 'T083' 'T114' 'T155' 'T063' 'T115' 'T138' 'T200' 'T206'
 'T209' 'T212' 'T215' 'T107' 'T128' 'T072' 'T078' 'T097' 'T099' 'T100'
 'T102' 'T103' 'T027' 'T156' 'T157' 'T221' 'T900' 'T903' 'T222' 'T223'
 'T225' 'T227' 'T224' 'T226' 'T229' 'T230' 'T228' 'T232' 'T231' 'T235'
 'T233' 'T236' 'T237' 'T238' 'T094B' 'T054C']
['4100  N OAK PARK AVE, Chicago, IL' '6200  N MANDELL AVE, Chicago, IL'
 '7900  W FOSTER AVE, Chicago, IL' '1500  W WEBSTER AVE, Chicago, IL'
 '2500  W GRAND AVE, Chicago, IL' '1100  W ROOSEVELT, Chicago, IL'
 '1100  W CHICAGO, Chicago, IL' '2100  N STAVE ST, Chicago, IL'
 '2200  N CANNON DR, Chicago, IL' '2200  W 113TH ST, Chicago, IL'
 '1100  S PEORIA ST, Chicago, IL' '1700  W 95TH ST, Chicago, IL'
 '2200  W 89TH ST, Chicago, IL' '5300  N STREETER DR, Chicago, IL'
 '6500  N OAK PARK AVE, Chicago, IL' '7500  N OAKLEY AVE, Chicago, IL'
 '1500  N LONG AVE, Chicago, IL' '8900  S CARPENTER ST, Chicago, IL'
 '9100  W HIGGINS AVE, Chicago, IL' '3600  N PITTSBURGH AVE, Chicago, IL'
 '7200  N OKETO AVE, Chicago, IL' '3800  N CALIFORNIA AVE, Chicago, IL'
 '4900  W BALMORAL AVE, Chicago, IL' '5800  N WESTERN AVE, Chicago, IL'
 '5000  S CENTRAL AVE, Chicago, IL' '1400  N HUMBOLDT DR, Chicago, IL'
 '1000  S VINCENNES, Chicago, IL' '1100  S ASHLAND AVE, Chicago, IL'
 '1100  S STATE ST, Chicago, IL' '4200  W 127TH PL, Chicago, IL'
 '5300  W AGATITE AVE, Chicago, IL' '4000  N AUSTIN AVE, Chicago, IL'
 '4300  N ASHLAND AVE OVERPASS, Chicago, IL'
 '4200  N RICHMOND ST, Chicago, IL' '2800  N FRANCISCO AVE, Chicago, IL'
 '1500  W GRANVILLE AVE, Chicago, IL' '1800  W FARWELL AVE, Chicago, IL'
 '7000   W ARMITAGE AVENUE, Chicago, IL'
 '2500  S MILLARD AVE, Chicago, IL' '2100  N LAWLER AVE, Chicago, IL'
 '3500  W 116TH ST, Chicago, IL'
 '9300  S DR MARTIN LUTHER KING JR DR, Chicago, IL'
 '3700  N KEDVALE AVE, Chicago, IL' '4500  N CAMPBELL AVE, Chicago, IL'
 '4000  N TRIPP AVE, Chicago, IL' '4600  N MILWAUKEE AVE, Chicago, IL'
 '6000  N AVONDALE AVE, Chicago, IL' '7000  N MOSELL AVE, Chicago, IL'
 '6100  N LEMONT AVE, Chicago, IL' '2700  S WESTERN AVE, Chicago, IL'
 '6800  W BELDEN AVE, Chicago, IL' '2100  S HAMLIN AVE, Chicago, IL'
 '3000  W 18TH ST, Chicago, IL' '1100  S CALIFORNIA, Chicago, IL'
 '2500  S THROOP, Chicago, IL' '1000  W 95TH ST, Chicago, IL'
 '1000  S CALIFORNIA AVE, Chicago, IL' '9600  S HOYNE AVE, Chicago, IL'
 '1800  W LELAND AVE, Chicago, IL' '6100  W FULLERTON AVE, Chicago, IL'
 '6400  W STRONG ST, Chicago, IL' '1200  W GREENLEAF AVE, Chicago, IL'
 '1000  N CENTRAL PARK DR, Chicago, IL' '2000  E 111TH ST, Chicago, IL'
 '3300  N RUTHERFORD AVE, Chicago, IL' '1100  S ARTESIAN AVE, Chicago, IL'
 '6000  W ROSCOE ST, Chicago, IL' '6000  W MONTROSE DR, Chicago, IL'
 '3300  E RANDOLPH ST, Chicago, IL' '3300  W 104TH ST, Chicago, IL'
 '4900  W SUNNYSIDE AVE, Chicago, IL' '3000  S HOYNE AVE, Chicago, IL'
 '4200  W 31ST ST, Chicago, IL' '1700  N PULASKI RD, Chicago, IL'
 '2200  W PERSHING RD, Chicago, IL' '2200  W 51ST ST, Chicago, IL'
 '3500  W 51ST ST, Chicago, IL' '5200  W 63RD ST, Chicago, IL'
 '6700  S KEDZIE AVE, Chicago, IL' '7300  S CICERO AVE, Chicago, IL'
 '2200  W 69TH ST, Chicago, IL' '5200  S NORDICA, Chicago, IL'
 '6100  S MELVINA AVE, Chicago, IL' '1000  E 67TH ST, Chicago, IL'
 '3900  S ASHLAND AVE, Chicago, IL' '4700  S CORNELL AVE, Chicago, IL'
 '5500  S DR MARTIN LUTHER KING JR DR, Chicago, IL'
 '6400  S STONY ISLAND AVE, Chicago, IL'
 '7100  S SOUTH SHORE DR, Chicago, IL' '7700  S EBERHART AVE, Chicago, IL'
 '4000  S DEARBORN ST, Chicago, IL' '5000  S UNION AVE, Chicago, IL'
 '7900  S CHICAGO AVE, Chicago, IL' '5200  S KOLMAR, Chicago, IL'
 '6300  W 64TH ST, Chicago, IL' '3700  S PULASKI RD, Chicago, IL'
 '1200  S DOTY AVE, Chicago, IL' '1000  S STONY ISLAND AVE, Chicago, IL'
 '1300  S TORRENCE AVE, Chicago, IL' '1300  S MACKINAW, Chicago, IL'
 '1300  S BRANDON, Chicago, IL' '3700  E 118TH ST, Chicago, IL'
 '3800  E 115TH ST, Chicago, IL' '8100  E 91ST ST, Chicago, IL'
 '2400  E 105TH ST, Chicago, IL' '8000  S KEDZIE AVE, Chicago, IL'
 '6500  S RACINE AVE, Chicago, IL' '8200  E 138TH ST, Chicago, IL'
 '8900  S MUSKEGON AVE, Chicago, IL' '9800  S AVENUE G, Chicago, IL'
 '1000  S COTTAGE GROVE, Chicago, IL' '1100  S AVENUE L, Chicago, IL'
 '5800  N PULASKI RD, Chicago, IL' '6600  S KILPATRICK AVE, Chicago, IL'
 '8100  W 37TH PL., Chicago, IL' '4000  E 130TH ST, Chicago, IL'
 '9100  W HIGGINS RD, Chicago, IL' '1000  W OHARE AIRPORT, Chicago, IL'
 '1000  W OHARE, Chicago, IL' '4800  W MONTANA ST, Chicago, IL'
 '5100  N MONT CLARE AVE, Chicago, IL' '8200  S KOSTNER AVE, Chicago, IL'
 '6500  E 91ST PL, Chicago, IL' '1700  W ADDISON ST, Chicago, IL'
 '9000  W GARFIELD BLVD, Chicago, IL' '1100  S WALLACE ST, Chicago, IL'
 '1300  N LARAMIE AVE, Chicago, IL' '3900  N SPRINGFIELD AVE, Chicago, IL'
 '1700  N ASHLAND AVE, Chicago, IL' '5100  W 72ND ST, Chicago, IL'
 '5800  N RIDGE AVE, Chicago, IL' '4200  W 65TH ST, Chicago, IL'
 '7100  N HARLEM AVE, Chicago, IL' '6200  N MCCLELLAN AVE, Chicago, IL'
 '2900  W 85TH ST, Chicago, IL' '3400  W 77TH ST, Chicago, IL'
 '9600  S LONGWOOD DR, Chicago, IL' '2100  N CANNON DR, Chicago, IL']
[41.95469  41.994991 41.974089 41.9216   41.891118 41.867108 41.896282
 41.919343 41.921965 41.688324 41.862292 41.720848 41.731922 41.891126
 41.999129 42.01743  41.907645 41.732984 41.981964 41.944869 42.011601
 41.94983  41.979243 41.986921 41.801498 41.906638 41.723195 41.868077
 41.869216 41.662014 41.961743 41.953067 41.878114 41.958271 41.932094
 41.994469 42.006858 41.916265 41.846075 41.918705 41.682587 41.725517
 41.948167 41.963976 41.953705 41.964242 41.990284 42.008314 41.991429
 41.843811 41.921177 41.852652 41.857402 41.868142 41.846283 41.721474
 41.869107 41.719059 41.966987 41.923738 41.970248 42.010412 41.89923
 41.692555 41.94016  41.903002 41.942114 41.960616 41.883284 41.704336
 41.962728 41.836644 41.837085 41.911824 41.823065 41.801179 41.800737
 41.778297 41.77166  41.759346 41.768388 41.797616 41.781416 41.773215
 41.822536 41.799282 41.794781 41.778748 41.766202 41.754676 41.821582
 41.803423 41.754292 41.798697 41.776156 41.82561  41.673408 41.726465
 41.678618 41.737052 41.740641 41.680946 41.686398 41.729669 41.704572
 41.74785  41.775051 41.644612 41.733643 41.717753 41.750498 41.702724
 41.984809 41.772846 41.825902 41.659112 41.992478 41.974689 41.957799
 41.925198 41.973845 41.743402 41.728495 41.947227 41.793818 41.753411
 41.904194 41.951866 41.912563 41.763733 41.98728  41.776428 42.009876
 41.994679 41.738903 41.753391 41.71914  41.925652]

[-87.800991 -87.769279 -87.824812 -87.666455 -87.654491 -87.654224
 -87.655232 -87.694259 -87.632085 -87.676709 -87.64886  -87.666014
 -87.677512 -87.61156  -87.795585 -87.687769 -87.760886 -87.649642
 -87.812827 -87.832763 -87.811506 -87.698457 -87.750938 -87.689778
 -87.763416 -87.701431 -87.64997  -87.666901 -87.627561 -87.724608
 -87.76007  -87.776792 -87.629798 -87.702575 -87.700117 -87.667736
 -87.675919 -87.800515 -87.716277 -87.752329 -87.707973 -87.614258
 -87.730698 -87.69181  -87.733974 -87.757639 -87.797127 -87.777921
 -87.747113 -87.686763 -87.79518  -87.719887 -87.694991 -87.696269
 -87.656913 -87.648064 -87.696293 -87.675088 -87.674677 -87.785288
 -87.787992 -87.66214  -87.716788 -87.598865 -87.794896 -87.688267
 -87.776385 -87.777189 -87.705085 -87.703736 -87.748367 -87.677737
 -87.729384 -87.726737 -87.678378 -87.679447 -87.71188  -87.752411
 -87.703047 -87.745602 -87.678649 -87.797894 -87.776532 -87.60088
 -87.666343 -87.585487 -87.615989 -87.586427 -87.562889 -87.612922
 -87.627796 -87.642984 -87.590773 -87.736812 -87.778927 -87.726549
 -87.599862 -87.585413 -87.559308 -87.543067 -87.546587 -87.535198
 -87.531635 -87.582699 -87.565666 -87.702716 -87.655356 -87.604498
 -87.55551  -87.531657 -87.605294 -87.536497 -87.728492 -87.740029
 -87.667827 -87.538693 -87.862995 -87.890615 -87.930995 -87.746381
 -87.805059 -87.731435 -87.600963 -87.671457 -87.654234 -87.639817
 -87.756155 -87.725057 -87.668055 -87.742302 -87.666066 -87.627096
 -87.807277 -87.770899 -87.695443 -87.707394 -87.669539 -87.63359 ]
[9 8 5 3]
[ 1  4  2  3  5  9  7 10  8  6 19 20 25 16 11 12 28 18 50 35 14 22 21 37
 27 13 39 29 15 17 34 26 32 47 44 23 46 48 42 33 45 24 41 38 40 36 43 49
 30 31]
[0 1]

In [10]:
# View unique values for each column in test_df
for col in test_df:
    print(test_df[col].unique())

[     1      2      3 ... 116291 116292 116293]
['2008-06-11' '2008-06-17' '2008-06-24' '2008-07-01' '2008-07-04'
 '2008-07-11' '2008-07-14' '2008-07-21' '2008-07-23' '2008-07-24'
 '2008-07-28' '2008-07-29' '2008-08-04' '2008-08-05' '2008-08-12'
 '2008-08-13' '2008-08-19' '2008-08-25' '2008-08-26' '2008-09-02'
 '2008-09-03' '2008-09-09' '2008-09-15' '2008-09-19' '2008-09-29'
 '2010-06-02' '2010-06-11' '2010-06-18' '2010-06-25' '2010-06-28'
 '2010-07-01' '2010-07-02' '2010-07-12' '2010-07-13' '2010-07-16'
 '2010-07-19' '2010-07-23' '2010-07-26' '2010-07-29' '2010-07-30'
 '2010-08-05' '2010-08-06' '2010-08-13' '2010-08-19' '2010-08-20'
 '2010-08-26' '2010-08-27' '2010-09-02' '2010-09-10' '2010-09-13'
 '2010-09-16' '2010-09-17' '2010-09-23' '2010-09-24' '2010-10-01'
 '2012-06-08' '2012-06-15' '2012-06-21' '2012-06-29' '2012-07-09'
 '2012-07-13' '2012-07-19' '2012-07-20' '2012-07-27' '2012-08-03'
 '2012-08-09' '2012-08-10' '2012-08-16' '2012-08-17' '2012-08-23'
 '2012-08-24' '2012-08-30' '2012-08-31' '2012-09-10' '2012-09-13'
 '2012-09-20' '2012-09-28' '2014-06-05' '2014-06-12' '2014-06-19'
 '2014-06-26' '2014-07-03' '2014-07-10' '2014-07-17' '2014-07-24'
 '2014-07-31' '2014-08-07' '2014-08-14' '2014-08-21' '2014-08-28'
 '2014-09-05' '2014-09-11' '2014-09-18' '2014-09-25' '2014-10-02']
['4100 North Oak Park Avenue, Chicago, IL 60634, USA'
 '6200 North Mandell Avenue, Chicago, IL 60646, USA'
 '7900 West Foster Avenue, Chicago, IL 60656, USA'
 '1500 West Webster Avenue, Chicago, IL 60614, USA'
 '2500 West Grand Avenue, Chicago, IL 60654, USA'
 '1100 Roosevelt Road, Chicago, IL 60608, USA'
 '1100 West Chicago Avenue, Chicago, IL 60642, USA'
 '2100 North Stave Street, Chicago, IL 60647, USA'
 '2200 North Cannon Drive, Chicago, IL 60614, USA'
 '2200 West 113th Street, Chicago, IL 60643, USA'
 '1100 South Peoria Street, Chicago, IL 60608, USA'
 '1700 West 95th Street, Chicago, IL 60643, USA'
 '2200 West 89th Street, Chicago, IL 60643, USA'
 'North Streeter Drive, Chicago, IL 60611, USA'
 '6500 North Oak Park Avenue, Chicago, IL 60631, USA'
 '7500 North Oakley Avenue, Chicago, IL 60645, USA'
 '1500 North Long Avenue, Chicago, IL 60651, USA'
 '8900 South Carpenter Street, Chicago, IL 60620, USA'
 '9100 West Higgins Avenue, Chicago, IL 60656, USA'
 '3600 North Pittsburgh Avenue, Chicago, IL 60634, USA'
 '7200 North Oketo Avenue, Chicago, IL 60631, USA'
 '3800 North California Avenue, Chicago, IL 60618, USA'
 '4900 West Balmoral Avenue, Chicago, IL 60630, USA'
 '5800 North Western Avenue, Chicago, IL 60659, USA'
 '5000 South Central Avenue, Chicago, IL 60638, USA'
 '1400 North Sacramento Avenue, Chicago, IL 60622, USA'
 'South Vincennes Avenue, Chicago, IL, USA'
 'University of Illinois at Chicago, 1100 South Ashland Avenue, Chicago, IL 60607, USA'
 '1100 South State Street, Chicago, IL 60605, USA'
 '4200 West 127th Street, Alsip, IL 60803, USA'
 '5300 West Agatite Avenue, Chicago, IL 60630, USA'
 '4000 North Austin Avenue, Chicago, IL 60634, USA' 'Chicago, IL, USA'
 '4200 North Richmond Street, Chicago, IL 60618, USA'
 '2800 North Francisco Avenue, Chicago, IL 60618, USA'
 '1500 West Granville Avenue, Chicago, IL 60660, USA'
 '1800 West Farwell Avenue, Chicago, IL 60626, USA'
 '7000 West Armitage Avenue, Chicago, IL 60707, USA'
 '2500 South Millard Avenue, Chicago, IL 60623, USA'
 '2100 North Lawler Avenue, Chicago, IL 60639, USA'
 '3500 West 116th Street, Chicago, IL 60655, USA'
 '9300 South Doctor Martin Luther King Junior Drive, Chicago, IL 60619, USA'
 '3700 North Kedvale Avenue, Chicago, IL 60641, USA'
 '4500 North Campbell Avenue, Chicago, IL 60625, USA'
 '4000 North Tripp Avenue, Chicago, IL 60641, USA'
 '4600 Milwaukee Avenue, Chicago, IL 60630, USA'
 '6000 North Avondale Avenue, Chicago, IL 60631, USA'
 '7000 North Moselle Avenue, Chicago, IL 60646, USA'
 '6100 North Lemont Avenue, Chicago, IL 60646, USA'
 '2700 South Western Avenue, Chicago, IL 60608, USA'
 '6800 West Belden Avenue, Chicago, IL 60707, USA'
 '2100 South Hamlin Avenue, Chicago, IL 60623, USA'
 '3000 West 18th Street, Chicago, IL 60608, USA'
 '1100 South California Avenue, Chicago, IL 60612, USA'
 '2500 South Throop Street, Chicago, IL 60608, USA'
 '1000 West 95th Street, Chicago, IL 60643, USA'
 '1000 South California Avenue, Chicago, IL 60612, USA'
 '9600 South Hoyne Avenue, Chicago, IL 60643, USA'
 '1800 West Leland Avenue, Chicago, IL 60640, USA'
 '6100 West Fullerton Avenue, Chicago, IL 60639, USA'
 '6400 West Strong Street, Chicago, IL, USA'
 '1200 West Greenleaf Avenue, Chicago, IL 60626, USA'
 '1000 North Central Park Avenue, Chicago, IL 60651, USA'
 '2000 East 111th Street, Chicago, IL 60628, USA'
 '3300 North Rutherford Avenue, Chicago, IL 60634, USA'
 '1100 North Artesian Avenue, Chicago, IL 60622, USA'
 '6000 West Roscoe Street, Chicago, IL 60634, USA'
 '6000 West Montrose Avenue, Chicago, IL 60634, USA'
 '3300 West Randolph Street, Chicago, IL 60612, USA'
 '3300 West 104th Street, Chicago, IL 60655, USA'
 '4900 West Sunnyside Avenue, Chicago, IL 60630, USA'
 '3000 South Hoyne Avenue, Chicago, IL 60608, USA'
 '4200 West 31st Street, Chicago, IL 60623, USA'
 '1700 North Pulaski Road, Chicago, IL 60639, USA'
 '2200 West Pershing Road, Chicago, IL 60609, USA'
 '2200 West 51st Street, Chicago, IL 60609, USA'
 '3500 West 51st Street, Chicago, IL 60632, USA'
 'Chicago Midway International Airport (MDW), 5200 West 63rd Street, Chicago, IL 60638, USA'
 '6700 South Kedzie Avenue, Chicago, IL 60629, USA'
 '7300 Cicero Avenue, Chicago, IL 60638, USA'
 '2200 West 69th Street, Chicago, IL 60636, USA'
 '5200 South Nordica Avenue, Chicago, IL 60638, USA'
 '6100 South Melvina Avenue, Chicago, IL 60638, USA'
 '1000 East 67th Street, Chicago, IL 60637, USA'
 '3900 South Ashland Avenue, Chicago, IL 60609, USA'
 '4700 South Cornell Avenue, Chicago, IL 60615, USA'
 '5500 South Doctor Martin Luther King Junior Drive, Chicago, IL 60637, USA'
 '6400 South Stony Island Avenue, Chicago, IL 60637, USA'
 '7100 South South Shore Drive, Chicago, IL 60649, USA'
 '7700 South Eberhart Avenue, Chicago, IL 60619, USA'
 '4000 South Dearborn Street, Chicago, IL 60609, USA'
 '5000 South Union Avenue, Chicago, IL 60609, USA'
 '7900 South South Chicago Avenue, Chicago, IL 60617, USA'
 '5200 South Kolmar Avenue, Chicago, IL 60632, USA'
 '6300 West 64th Street, Chicago, IL 60638, USA'
 '3700 South Pulaski Road, Chicago, IL 60623, USA'
 'South Doty Avenue, Chicago, IL, USA'
 'South Stony Island Avenue, Chicago, IL, USA'
 'South Torrence Avenue, Chicago, IL, USA'
 'South Mackinaw Avenue, Chicago, IL 60617, USA'
 'South Brandon Avenue, Chicago, IL 60617, USA'
 '3700 118th Street, Chicago, IL 60617, USA'
 '3800 East 115th Street, Chicago, IL 60617, USA'
 'East 91st Street, Chicago, IL, USA'
 '2400 East 105th Street, Chicago, IL 60617, USA'
 '8000 South Kedzie Avenue, Chicago, IL 60652, USA'
 '6500 South Racine Avenue, Chicago, IL 60636, USA'
 'East 138th Street, Riverdale, IL 60827, USA'
 '8900 South Muskegon Avenue, Chicago, IL 60617, USA'
 '9800 South Avenue G, Chicago, IL 60617, USA'
 'South Cottage Grove Avenue, Chicago, IL, USA'
 'South Avenue L, Chicago, IL 60617, USA'
 '5800 North Pulaski Road, Chicago, IL 60646, USA'
 '6600 South Kilpatrick Avenue, Chicago, IL 60629, USA'
 'West 37th Place, Chicago, IL, USA'
 '4000 East 130th Street, Chicago, IL 60633, USA'
 '9100 West Higgins Road, Rosemont, IL 60018, USA'
 "ORD Terminal 5, O'Hare International Airport, Chicago, IL 60666, USA"
 'Ohare Court, Bensenville, IL 60106, USA'
 '1400 West 112th Street, Chicago, IL 60643, USA'
 '1100 South Loomis Street, Chicago, IL 60607, USA'
 '1200 West 120th Street, Chicago, IL 60643, USA'
 'South Baltimore Avenue, Chicago, IL 60617, USA'
 'South Oglesby Avenue, Chicago, IL, USA'
 '2600 East 136th Street, Chicago, IL 60633, USA'
 '4000 North Kedvale Avenue, Chicago, IL 60641, USA'
 '2900 North Kenneth Avenue, Chicago, IL 60641, USA'
 '3700 North Kilbourn Avenue, Chicago, IL 60641, USA'
 '4800 West Montana Street, Chicago, IL 60639, USA'
 '5100 North Mont Clare Avenue, Chicago, IL 60656, USA'
 '8200 South Kostner Avenue, Chicago, IL 60652, USA'
 'East 91st Place, Chicago, IL, USA'
 '1700 West Addison Street, Chicago, IL 60613, USA'
 'West Garfield Boulevard, Chicago, IL, USA'
 'South Wallace Street, Chicago, IL, USA'
 '1300 North Laramie Avenue, Chicago, IL 60651, USA'
 '3900 North Springfield Avenue, Chicago, IL 60618, USA'
 '5100 West 72nd Street, Chicago, IL 60638, USA'
 '5800 North Ridge Avenue, Chicago, IL 60660, USA'
 '1700 North Ashland Avenue, Chicago, IL 60622, USA'
 '4600 North Melvina Avenue, Chicago, IL 60630, USA'
 '6500 West Dakin Street, Chicago, IL 60634, USA'
 '7100 North Harlem Avenue, Chicago, IL 60631, USA'
 '3400 North Long Avenue, Chicago, IL 60641, USA'
 '4200 West 65th Street, Chicago, IL 60621, USA'
 '6200 North Mcclellan Avenue, Chicago, IL 60646, USA'
 '2900 West 85th Street, Chicago, IL 60652, USA'
 '3400 West 77th Street, Chicago, IL 60652, USA'
 '5100 West 63rd Place, Chicago, IL 60638, USA'
 '9600 South Longwood Drive, Chicago, IL 60643, USA'
 '2100 North Cannon Drive, Chicago, IL 60614, USA']

['CULEX PIPIENS/RESTUANS' 'CULEX RESTUANS' 'CULEX PIPIENS'
 'CULEX SALINARIUS' 'CULEX TERRITANS' 'CULEX TARSALIS' 'UNSPECIFIED CULEX'
 'CULEX ERRATICUS']
[41 62 79 15 25 11 21 22 17 53 65 75 89 91 36 72 38 49 58 50 14 10 42 40
 43 28 18 70 35 93 37 45 46 60 61 27 68 30 96 64 12 20 33 52 67 73 39 47
 55 71 77 63 13 81 24 80 82 98 66 26 29 48 51 90 34]
[' N OAK PARK AVE' ' N MANDELL AVE' ' W FOSTER AVE' ' W WEBSTER AVE'
 ' W GRAND AVE' ' W ROOSEVELT' ' W CHICAGO' ' N STAVE ST' ' N CANNON DR'
 ' W 113TH ST' ' S PEORIA ST' ' W 95TH ST' ' W 89TH ST' ' N STREETER DR'
 ' N OAKLEY AVE' ' N LONG AVE' ' S CARPENTER ST' ' W HIGGINS AVE'
 ' N PITTSBURGH AVE' ' N OKETO AVE' ' N CALIFORNIA AVE' ' W BALMORAL AVE'
 ' N WESTERN AVE' ' S CENTRAL AVE' ' N HUMBOLDT DR' ' S VINCENNES'
 ' S ASHLAND AVE' ' S STATE ST' ' W 127TH PL' ' W AGATITE AVE'
 ' N AUSTIN AVE' ' N ASHLAND AVE OVERPASS' ' N RICHMOND ST'
 ' N FRANCISCO AVE' ' W GRANVILLE AVE' ' W FARWELL AVE'
 '  W ARMITAGE AVENUE' ' S MILLARD AVE' ' N LAWLER AVE' ' W 116TH ST'
 ' S DR MARTIN LUTHER KING JR DR' ' N KEDVALE AVE' ' N CAMPBELL AVE'
 ' N TRIPP AVE' ' N MILWAUKEE AVE' ' N AVONDALE AVE' ' N MOSELL AVE'
 ' N LEMONT AVE' ' S WESTERN AVE' ' W BELDEN AVE' ' S HAMLIN AVE'
 ' W 18TH ST' ' S CALIFORNIA' ' S THROOP' ' S CALIFORNIA AVE'
 ' S HOYNE AVE' ' W LELAND AVE' ' W FULLERTON AVE' ' W STRONG ST'
 ' W GREENLEAF AVE' ' N CENTRAL PARK DR' ' E 111TH ST' ' N RUTHERFORD AVE'
 ' S ARTESIAN AVE' ' W ROSCOE ST' ' W MONTROSE DR' ' E RANDOLPH ST'
 ' W 104TH ST' ' W SUNNYSIDE AVE' ' W 31ST ST' ' N PULASKI RD'
 ' W PERSHING RD' ' W 51ST ST' ' W 63RD ST' ' S KEDZIE AVE'
 ' S CICERO AVE' ' W 69TH ST' ' S NORDICA' ' S MELVINA AVE' ' E 67TH ST'
 ' S CORNELL AVE' ' S STONY ISLAND AVE' ' S SOUTH SHORE DR'
 ' S EBERHART AVE' ' S DEARBORN ST' ' S UNION AVE' ' S CHICAGO AVE'
 ' S KOLMAR' ' W 64TH ST' ' S PULASKI RD' ' S DOTY AVE' ' S TORRENCE AVE'
 ' S MACKINAW' ' S BRANDON' ' E 118TH ST' ' E 115TH ST' ' E 91ST ST'
 ' E 105TH ST' ' S RACINE AVE' ' E 138TH ST' ' S MUSKEGON AVE'
 ' S AVENUE G' ' S COTTAGE GROVE' ' S AVENUE L' ' S KILPATRICK AVE'
 ' W 37TH PL.' ' E 130TH ST' ' W HIGGINS RD' ' W OHARE AIRPORT' ' W OHARE'
 ' W 112TH ST' ' S LOOMIS ST' ' W 120TH ST' ' S BALTIMORE AVE'
 ' S OGLESBY AVE' ' E 136TH ST' ' N KENNETH AVE' ' N KILBOURN AVE'
 ' W MONTANA ST' ' N MONT CLARE AVE' ' S KOSTNER AVE' ' E 91ST PL'
 ' W ADDISON ST' ' W GARFIELD BLVD' ' S WALLACE ST' ' N LARAMIE AVE'
 ' N SPRINGFIELD AVE' ' W 72ND ST' ' N RIDGE AVE' ' N ASHLAND AVE'
 ' N MELVINA AVE' ' W DAKIN ST' ' N HARLEM AVE' ' W 65TH ST'
 ' N MCCLELLAN AVE' ' W 85TH ST' ' W 77TH ST' ' W 63RD PL'
 ' S LONGWOOD DR']
['T002' 'T007' 'T015' 'T045' 'T046' 'T048' 'T049' 'T050' 'T054' 'T086'
 'T091' 'T094' 'T096' 'T129' 'T143' 'T148' 'T153' 'T159' 'T009' 'T011'
 'T016' 'T019' 'T025' 'T028' 'T031' 'T033' 'T089' 'T090' 'T092' 'T135'
 'T141' 'T142' 'T145' 'T146' 'T147' 'T149' 'T150' 'T151' 'T152' 'T154'
 'T158' 'T162' 'T218' 'T220' 'T001' 'T003' 'T006' 'T008' 'T012' 'T034'
 'T037' 'T040' 'T043' 'T047' 'T051' 'T085' 'T088' 'T161' 'T219' 'T013'
 'T014' 'T018' 'T030' 'T084' 'T144' 'T160' 'T005' 'T017' 'T044' 'T095'
 'T004' 'T035' 'T036' 'T039' 'T060' 'T061' 'T062' 'T065' 'T066' 'T067'
 'T069' 'T070' 'T071' 'T073' 'T074' 'T075' 'T076' 'T077' 'T079' 'T080'
 'T081' 'T082' 'T083' 'T114' 'T155' 'T063' 'T115' 'T138' 'T200' 'T206'
 'T209' 'T212' 'T215' 'T107' 'T128' 'T072' 'T078' 'T097' 'T099' 'T100'
 'T102' 'T103' 'T027' 'T156' 'T157' 'T221' 'T900' 'T903' 'T090A' 'T090B'
 'T090C' 'T200A' 'T128A' 'T200B' 'T218A' 'T218C' 'T218B' 'T222' 'T223'
 'T225' 'T227' 'T224' 'T226' 'T229' 'T230' 'T228' 'T231' 'T232' 'T002A'
 'T002B' 'T233' 'T234' 'T235' 'T236' 'T237' 'T238' 'T065A' 'T094B' 'T054C']
['4100  N OAK PARK AVE, Chicago, IL' '6200  N MANDELL AVE, Chicago, IL'
 '7900  W FOSTER AVE, Chicago, IL' '1500  W WEBSTER AVE, Chicago, IL'
 '2500  W GRAND AVE, Chicago, IL' '1100  W ROOSEVELT, Chicago, IL'
 '1100  W CHICAGO, Chicago, IL' '2100  N STAVE ST, Chicago, IL'
 '2200  N CANNON DR, Chicago, IL' '2200  W 113TH ST, Chicago, IL'
 '1100  S PEORIA ST, Chicago, IL' '1700  W 95TH ST, Chicago, IL'
 '2200  W 89TH ST, Chicago, IL' '5300  N STREETER DR, Chicago, IL'
 '6500  N OAK PARK AVE, Chicago, IL' '7500  N OAKLEY AVE, Chicago, IL'
 '1500  N LONG AVE, Chicago, IL' '8900  S CARPENTER ST, Chicago, IL'
 '9100  W HIGGINS AVE, Chicago, IL' '3600  N PITTSBURGH AVE, Chicago, IL'
 '7200  N OKETO AVE, Chicago, IL' '3800  N CALIFORNIA AVE, Chicago, IL'
 '4900  W BALMORAL AVE, Chicago, IL' '5800  N WESTERN AVE, Chicago, IL'
 '5000  S CENTRAL AVE, Chicago, IL' '1400  N HUMBOLDT DR, Chicago, IL'
 '1000  S VINCENNES, Chicago, IL' '1100  S ASHLAND AVE, Chicago, IL'
 '1100  S STATE ST, Chicago, IL' '4200  W 127TH PL, Chicago, IL'
 '5300  W AGATITE AVE, Chicago, IL' '4000  N AUSTIN AVE, Chicago, IL'
 '4300  N ASHLAND AVE OVERPASS, Chicago, IL'
 '4200  N RICHMOND ST, Chicago, IL' '2800  N FRANCISCO AVE, Chicago, IL'
 '1500  W GRANVILLE AVE, Chicago, IL' '1800  W FARWELL AVE, Chicago, IL'
 '7000   W ARMITAGE AVENUE, Chicago, IL'
 '2500  S MILLARD AVE, Chicago, IL' '2100  N LAWLER AVE, Chicago, IL'
 '3500  W 116TH ST, Chicago, IL'
 '9300  S DR MARTIN LUTHER KING JR DR, Chicago, IL'
 '3700  N KEDVALE AVE, Chicago, IL' '4500  N CAMPBELL AVE, Chicago, IL'
 '4000  N TRIPP AVE, Chicago, IL' '4600  N MILWAUKEE AVE, Chicago, IL'
 '6000  N AVONDALE AVE, Chicago, IL' '7000  N MOSELL AVE, Chicago, IL'
 '6100  N LEMONT AVE, Chicago, IL' '2700  S WESTERN AVE, Chicago, IL'
 '6800  W BELDEN AVE, Chicago, IL' '2100  S HAMLIN AVE, Chicago, IL'
 '3000  W 18TH ST, Chicago, IL' '1100  S CALIFORNIA, Chicago, IL'
 '2500  S THROOP, Chicago, IL' '1000  W 95TH ST, Chicago, IL'
 '1000  S CALIFORNIA AVE, Chicago, IL' '9600  S HOYNE AVE, Chicago, IL'
 '1800  W LELAND AVE, Chicago, IL' '6100  W FULLERTON AVE, Chicago, IL'
 '6400  W STRONG ST, Chicago, IL' '1200  W GREENLEAF AVE, Chicago, IL'
 '1000  N CENTRAL PARK DR, Chicago, IL' '2000  E 111TH ST, Chicago, IL'
 '3300  N RUTHERFORD AVE, Chicago, IL' '1100  S ARTESIAN AVE, Chicago, IL'
 '6000  W ROSCOE ST, Chicago, IL' '6000  W MONTROSE DR, Chicago, IL'
 '3300  E RANDOLPH ST, Chicago, IL' '3300  W 104TH ST, Chicago, IL'
 '4900  W SUNNYSIDE AVE, Chicago, IL' '3000  S HOYNE AVE, Chicago, IL'
 '4200  W 31ST ST, Chicago, IL' '1700  N PULASKI RD, Chicago, IL'
 '2200  W PERSHING RD, Chicago, IL' '2200  W 51ST ST, Chicago, IL'
 '3500  W 51ST ST, Chicago, IL' '5200  W 63RD ST, Chicago, IL'
 '6700  S KEDZIE AVE, Chicago, IL' '7300  S CICERO AVE, Chicago, IL'
 '2200  W 69TH ST, Chicago, IL' '5200  S NORDICA, Chicago, IL'
 '6100  S MELVINA AVE, Chicago, IL' '1000  E 67TH ST, Chicago, IL'
 '3900  S ASHLAND AVE, Chicago, IL' '4700  S CORNELL AVE, Chicago, IL'
 '5500  S DR MARTIN LUTHER KING JR DR, Chicago, IL'
 '6400  S STONY ISLAND AVE, Chicago, IL'
 '7100  S SOUTH SHORE DR, Chicago, IL' '7700  S EBERHART AVE, Chicago, IL'
 '4000  S DEARBORN ST, Chicago, IL' '5000  S UNION AVE, Chicago, IL'
 '7900  S CHICAGO AVE, Chicago, IL' '5200  S KOLMAR, Chicago, IL'
 '6300  W 64TH ST, Chicago, IL' '3700  S PULASKI RD, Chicago, IL'
 '1200  S DOTY AVE, Chicago, IL' '1000  S STONY ISLAND AVE, Chicago, IL'
 '1300  S TORRENCE AVE, Chicago, IL' '1300  S MACKINAW, Chicago, IL'
 '1300  S BRANDON, Chicago, IL' '3700  E 118TH ST, Chicago, IL'
 '3800  E 115TH ST, Chicago, IL' '8100  E 91ST ST, Chicago, IL'
 '2400  E 105TH ST, Chicago, IL' '8000  S KEDZIE AVE, Chicago, IL'
 '6500  S RACINE AVE, Chicago, IL' '8200  E 138TH ST, Chicago, IL'
 '8900  S MUSKEGON AVE, Chicago, IL' '9800  S AVENUE G, Chicago, IL'
 '1000  S COTTAGE GROVE, Chicago, IL' '1100  S AVENUE L, Chicago, IL'
 '5800  N PULASKI RD, Chicago, IL' '6600  S KILPATRICK AVE, Chicago, IL'
 '8100  W 37TH PL., Chicago, IL' '4000  E 130TH ST, Chicago, IL'
 '9100  W HIGGINS RD, Chicago, IL' '1000  W OHARE AIRPORT, Chicago, IL'
 '1000  W OHARE, Chicago, IL' '1400  W 112TH ST, Chicago, IL'
 '1100  S LOOMIS ST, Chicago, IL' '1200  W 120TH ST, Chicago, IL'
 '1200  S BALTIMORE AVE, Chicago, IL' '1000  S OGLESBY AVE, Chicago, IL'
 '2600  E 136TH ST, Chicago, IL' '4000  N KEDVALE AVE, Chicago, IL'
 '2900  N KENNETH AVE, Chicago, IL' '3700  N KILBOURN AVE, Chicago, IL'
 '4800  W MONTANA ST, Chicago, IL' '5100  N MONT CLARE AVE, Chicago, IL'
 '8200  S KOSTNER AVE, Chicago, IL' '6500  E 91ST PL, Chicago, IL'
 '1700  W ADDISON ST, Chicago, IL' '9000  W GARFIELD BLVD, Chicago, IL'
 '1100  S WALLACE ST, Chicago, IL' '1300  N LARAMIE AVE, Chicago, IL'
 '3900  N SPRINGFIELD AVE, Chicago, IL' '5100  W 72ND ST, Chicago, IL'
 '5800  N RIDGE AVE, Chicago, IL' '1700  N ASHLAND AVE, Chicago, IL'
 '4600  N MELVINA AVE, Chicago, IL' '6500  W DAKIN ST, Chicago, IL'
 '7100  N HARLEM AVE, Chicago, IL' '3400  N LONG AVE, Chicago, IL'
 '4200  W 65TH ST, Chicago, IL' '6200  N MCCLELLAN AVE, Chicago, IL'
 '2900  W 85TH ST, Chicago, IL' '3400  W 77TH ST, Chicago, IL'
 '5100  W 63RD PL, Chicago, IL' '9600  S LONGWOOD DR, Chicago, IL'
 '2100  N CANNON DR, Chicago, IL']
[41.95469  41.994991 41.974089 41.9216   41.891118 41.867108 41.896282
 41.919343 41.921965 41.688324 41.862292 41.720848 41.731922 41.891126
 41.999129 42.01743  41.907645 41.732984 41.981964 41.944869 42.011601
 41.94983  41.979243 41.986921 41.801498 41.906638 41.723195 41.868077
 41.869216 41.662014 41.961743 41.953067 41.878114 41.958271 41.932094
 41.994469 42.006858 41.916265 41.846075 41.918705 41.682587 41.725517
 41.948167 41.963976 41.953705 41.964242 41.990284 42.008314 41.991429
 41.843811 41.921177 41.852652 41.857402 41.868142 41.846283 41.721474
 41.869107 41.719059 41.966987 41.923738 41.970248 42.010412 41.89923
 41.692555 41.94016  41.903002 41.942114 41.960616 41.883284 41.704336
 41.962728 41.836644 41.837085 41.911824 41.823065 41.801179 41.800737
 41.778297 41.77166  41.759346 41.768388 41.797616 41.781416 41.773215
 41.822536 41.799282 41.794781 41.778748 41.766202 41.754676 41.821582
 41.803423 41.754292 41.798697 41.776156 41.82561  41.673408 41.726465
 41.678618 41.737052 41.740641 41.680946 41.686398 41.729669 41.704572
 41.74785  41.775051 41.644612 41.733643 41.717753 41.750498 41.702724
 41.984809 41.772846 41.825902 41.659112 41.992478 41.974689 41.957799
 41.690423 41.868533 41.675876 41.731929 41.738583 41.646541 41.95477
 41.933652 41.94828  41.925198 41.973845 41.743402 41.728495 41.947227
 41.793818 41.753411 41.904194 41.951866 41.763733 41.98728  41.912563
 41.965571 41.951878 42.009876 41.942285 41.776428 41.994679 41.738903
 41.753391 41.777689 41.71914  41.925652]
[-87.800991 -87.769279 -87.824812 -87.666455 -87.654491 -87.654224
 -87.655232 -87.694259 -87.632085 -87.676709 -87.64886  -87.666014
 -87.677512 -87.61156  -87.795585 -87.687769 -87.760886 -87.649642
 -87.812827 -87.832763 -87.811506 -87.698457 -87.750938 -87.689778
 -87.763416 -87.701431 -87.64997  -87.666901 -87.627561 -87.724608
 -87.76007  -87.776792 -87.629798 -87.702575 -87.700117 -87.667736
 -87.675919 -87.800515 -87.716277 -87.752329 -87.707973 -87.614258
 -87.730698 -87.69181  -87.733974 -87.757639 -87.797127 -87.777921
 -87.747113 -87.686763 -87.79518  -87.719887 -87.694991 -87.696269
 -87.656913 -87.648064 -87.696293 -87.675088 -87.674677 -87.785288
 -87.787992 -87.66214  -87.716788 -87.598865 -87.794896 -87.688267
 -87.776385 -87.777189 -87.705085 -87.703736 -87.748367 -87.677737
 -87.729384 -87.726737 -87.678378 -87.679447 -87.71188  -87.752411
 -87.703047 -87.745602 -87.678649 -87.797894 -87.776532 -87.60088
 -87.666343 -87.585487 -87.615989 -87.586427 -87.562889 -87.612922
 -87.627796 -87.642984 -87.590773 -87.736812 -87.778927 -87.726549
 -87.599862 -87.585413 -87.559308 -87.543067 -87.546587 -87.535198
 -87.531635 -87.582699 -87.565666 -87.702716 -87.655356 -87.604498
 -87.55551  -87.531657 -87.605294 -87.536497 -87.728492 -87.740029
 -87.667827 -87.538693 -87.862995 -87.890615 -87.930995 -87.656929
 -87.661638 -87.651515 -87.54854  -87.567726 -87.543762 -87.73089
 -87.738416 -87.74134  -87.746381 -87.805059 -87.731435 -87.600963
 -87.671457 -87.654234 -87.639817 -87.756155 -87.725057 -87.742302
 -87.666066 -87.668055 -87.781978 -87.789234 -87.807277 -87.761726
 -87.627096 -87.770899 -87.695443 -87.707394 -87.749149 -87.669539
 -87.63359 ]
[9 8 5 3]

In [11]:
# View unique values for each column in spray_df
for col in spray_df:
    print(spray_df[col].unique())

['2011-08-29' '2011-09-07' '2013-07-17' '2013-07-25' '2013-08-08'
 '2013-08-15' '2013-08-16' '2013-08-22' '2013-08-29' '2013-09-05']
['6:56:58 PM' '6:57:08 PM' '6:57:18 PM' ... '8:04:01 PM' '8:04:11 PM'
 '8:04:21 PM']
[42.39162333 42.39134833 42.39102167 ... 42.00602167 42.00545333
 42.004805  ]
[-88.08916333 -88.08915667 -88.08915833 ... -87.81739167 -87.81742333
 -87.81746   ]

### Duplicate values

The train_df has 813 rows with duplicate values, while the test_df has 0 rows with duplicate values in test_df, the spray_df has 541 rows with duplicate values.

In [12]:
# Count the number of duplicates in the dataset
print(f'There are {train_df.duplicated().sum()} duplicate rows in the train_df dataset.')

# Show the duplicates in the dataset
print('Duplicate rows in the dataset:')
train_df['dupe'] = train_df.duplicated()
display(train_df[train_df['dupe'] == True])

There are 813 duplicate rows in the train_df dataset.
Duplicate rows in the dataset:

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent,dupe
99,2007-06-26,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,True
295,2007-07-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,50,0,True
351,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0,True
353,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0,True
512,2007-07-18,"3300 West Randolph Street, Chicago, IL 60612, USA",CULEX RESTUANS,33,E RANDOLPH ST,T044,"3300 E RANDOLPH ST, Chicago, IL",41.883284,-87.705085,8,1,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10013,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,True
10102,2013-09-06,"3700 South Pulaski Road, Chicago, IL 60623, USA",CULEX PIPIENS,37,S PULASKI RD,T063,"3700 S PULASKI RD, Chicago, IL",41.825610,-87.726549,9,9,0,True
10124,2013-09-06,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,True
10262,2013-09-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,True
10392,2013-09-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,13,0,True

In [13]:
# Count the number of duplicates in the dataset
print(f'There are {test_df.duplicated().sum()} duplicate rows in the test_df dataset.')

# Show the duplicates in the dataset
print('Duplicate rows in the dataset:')
test_df['dupe'] = test_df.duplicated()
display(test_df[test_df['dupe'] == True])

There are 0 duplicate rows in the test_df dataset.
Duplicate rows in the dataset:

Empty DataFrame
Columns: [id, date, address, species, block, street, trap, addressnumberandstreet, latitude, longitude, addressaccuracy, dupe]
Index: []

In [14]:
# Count the number of duplicates in the dataset
print(f'There are {spray_df.duplicated().sum()} duplicate rows in the spray_df dataset.')

# Show the duplicates in the dataset
print('Duplicate rows in the dataset:')
spray_df['dupe'] = spray_df.duplicated()
display(spray_df[spray_df['dupe'] == True])

There are 541 duplicate rows in the spray_df dataset.
Duplicate rows in the dataset:

            date        time   latitude  longitude  dupe
485   2011-09-07  7:43:40 PM  41.983917 -87.793088  True
490   2011-09-07  7:44:32 PM  41.986460 -87.794225  True
491   2011-09-07  7:44:32 PM  41.986460 -87.794225  True
492   2011-09-07  7:44:32 PM  41.986460 -87.794225  True
493   2011-09-07  7:44:32 PM  41.986460 -87.794225  True
...          ...         ...        ...        ...   ...
1025  2011-09-07  7:44:32 PM  41.986460 -87.794225  True
1026  2011-09-07  7:44:32 PM  41.986460 -87.794225  True
1027  2011-09-07  7:44:32 PM  41.986460 -87.794225  True
1028  2011-09-07  7:44:32 PM  41.986460 -87.794225  True
1029  2011-09-07  7:44:32 PM  41.986460 -87.794225  True

[541 rows x 5 columns]

In [15]:
# Count the number of duplicates in the dataset
print(f'There are {weather_df.duplicated().sum()} duplicate rows in the weather_df dataset.')

# Show the duplicates in the dataset
print('Duplicate rows in the dataset:')
weather_df['dupe'] = weather_df.duplicated()
display(weather_df[weather_df['dupe'] == True])

There are 0 duplicate rows in the weather_df dataset.
Duplicate rows in the dataset:

Empty DataFrame
Columns: [station, date, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, depth, water1, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed, dupe]
Index: []

[0 rows x 23 columns]

### Dealing with duplicates

In [16]:
# Drop duplicate rows in spray_df dataset
spray_df.drop('dupe', axis = 1, inplace = True)

# Remove duplicates
spray_df.drop_duplicates(keep = 'first', inplace = True)

In [17]:
spray_df.head()

         date        time   latitude  longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

### Missing Values

In [18]:
train_df.isnull().values.any()

False

In [19]:
test_df.isnull().values.any()

False

In [20]:
spray_df.isnull().values.any()

True

In [21]:
spray_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14294 entries, 0 to 14834
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       14294 non-null  object
 1   time       13710 non-null  object
 2   latitude   14294 non-null  float64
 3   longitude  14294 non-null  float64
dtypes: float64(2), object(2)
memory usage: 558.4+ KB

In [22]:
spray_df.isnull().sum()

date           0
time         584
latitude       0
longitude      0
dtype: int64

In [23]:
weather_df.isnull().values.any()

False

In [24]:
#For weather_df, missing values were imputed with 'M',unavailable values imputed with '-' or ' ' and trace precipitate imputed with 'T'

# Replace 'M' with null values
weather_df.replace(to_replace = "M", value = np.NaN, regex = False, inplace = True)

# Replace '-' with null values
weather_df.replace(to_replace = "-", value = np.NaN, regex = False, inplace = True)

# Replace ' ' with null values
weather_df.replace(to_replace = " ", value = np.NaN, regex = False, inplace = True)

# Replace '  T' with null values
weather_df.replace(to_replace = "  T", value = np.NaN, regex = False, inplace = True)

In [25]:
# Check columns with null values in weather_df
print('Number of null values in \'weather\' dataset:')
print(weather_df.isnull().sum().sort_values(ascending=False).to_string())

Number of null values in 'weather' dataset:
water1         2944
codesum        1609
snowfall       1484
sunset         1472
sunrise        1472
depth          1472
depart         1472
preciptotal     320
cool             11
tavg             11
heat             11
sealevel          9
stnpressure       4
wetbulb           4
avgspeed          3
resultspeed       0
resultdir         0
station           0
date              0
dewpoint          0
tmin              0
tmax              0
dupe              0

### Dealing with missing values

In [26]:
# Impute values for rows with missing values in spray_df

# Define the start time and end time
start_time = '19:44:32'
end_time = '19:46:30'
time_format = '%H:%M:%S'

# Convert to the datetime object
start = dt.datetime.strptime(start_time, time_format)
end = dt.datetime.strptime(end_time, time_format)

# Find midpoint between start-time and end-time
half_seconds = (end - start).total_seconds() / 2
half = start + dt.timedelta(seconds=half_seconds)
print('The middle point between the start and end-time is:')
print(half.time())

# Converting null values in the 'time' column to '07:45:31 PM'
spray_df['time'] = spray_df['time'].fillna("07:45:31 PM")

# Check again for nulls in spray_df
spray_df.isnull().sum()

The middle point between the start and end-time is:
19:45:31

date         0
time         0
latitude     0
longitude    0
dtype: int64

In [27]:
weather_df.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dupe
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0,NaN,0.0,0.00,29.10,29.82,1.7,27,9.2,False
1,2,2007-05-01,84,52,68,NaN,51,57,0,3,...,NaN,NaN,NaN,0.00,29.18,29.82,2.7,25,9.6,False
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0,NaN,0.0,0.00,29.38,30.09,13.0,4,13.4,False
3,2,2007-05-02,60,43,52,NaN,42,47,13,0,...,NaN,NaN,NaN,0.00,29.44,30.08,13.3,2,13.4,False
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0,NaN,0.0,0.00,29.39,30.12,11.7,7,11.9,False

In [28]:
# Dealing with columns with high missing value counts in weather_df

## Drop the 'water1' column as it is all null values
weather_df.drop('water1', axis =1, inplace = True)

## Drop the 'depart' column as over half of its values are null
weather_df.drop('depart', axis =1, inplace = True)

## Drop the 'depth' column as over half of its values are null
weather_df.drop('depth', axis =1, inplace = True)

## Drop the 'snowfall' column as over half of its values are null
weather_df.drop('snowfall', axis =1, inplace = True)

## Drop the 'codesum' column as over half of its values are null
weather_df.drop('codesum', axis =1, inplace = True)

In [29]:
# Dealing with 'sunset' col with high missing value counts in weather_df 

# For rows with missing values in 'sunset' column
sunset_null_idx = weather_df.loc[weather_df['sunset'].isnull()].index

# Impute missing values with the corresponding values from the other station
for index in sunset_null_idx:
    if index % 2 == 0:
        weather_df['sunset'].loc[index] = weather_df['sunset'].loc[index+1]
    else:
        weather_df['sunset'].loc[index] = weather_df['sunset'].loc[index-1]

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/429142066.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['sunset'].loc[index] = weather_df['sunset'].loc[index-1]

In [30]:
# Dealing with 'sunrise' col with high missing value counts in weather_df 

# For rows with missing values in 'sunset' column
sunrise_null_idx = weather_df.loc[weather_df['sunrise'].isnull()].index

# Impute missing values with the corresponding values from the other station
for index in sunrise_null_idx:
    if index % 2 == 0:
        weather_df['sunrise'].loc[index] = weather_df['sunrise'].loc[index+1]
    else:
        weather_df['sunrise'].loc[index] = weather_df['sunrise'].loc[index-1]

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/3567490163.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['sunrise'].loc[index] = weather_df['sunrise'].loc[index-1]

In [31]:
# Dealing with columns with low missing value counts in weather_df

## For rows with missing values in the 'tavg' column
## Impute average of tmin and tmax values in same row
weather_df['tavg'] = weather_df['tavg'].fillna((weather_df['tmin'] + weather_df['tmax'])/2)

## Convert 'tavg' column into integer type
weather_df['tavg'] = weather_df['tavg'].astype(int)

In [32]:
## For rows with missing values in the 'heat' and 'cool' columns
weather_df['heat'] = weather_df['heat'].fillna(weather_df['tavg'] - 65)
weather_df['cool'] = weather_df['cool'].fillna(65 - weather_df['tavg'])

## Convert the 'heat' and 'cool' column to integer type
weather_df['heat'] = weather_df['heat'].astype(int)
weather_df['cool'] = weather_df['cool'].astype(int)

## Remove those values where 'heat' is negative
weather_df.loc[weather_df['heat'] < 0, 'heat'] = 0

# Remove those values where 'cool' is negative
weather_df.loc[weather_df['cool'] < 0, 'cool'] = 0

In [33]:
# Find out the index of the rows with missing values.
sealevel_null_idx = weather_df.loc[weather_df['sealevel'].isnull()].index

# Impute the missing values with corresponding values from the other station
for index in sealevel_null_idx:
    if index % 2 == 0:
        weather_df['sealevel'].loc[index] = weather_df['sealevel'].loc[index+1]
    else:
        weather_df['sealevel'].loc[index] = weather_df['sealevel'].loc[index-1]
        
# Convert column data type to float 
weather_df['sealevel'] = weather_df['sealevel'].astype(float)

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/2460541406.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['sealevel'].loc[index] = weather_df['sealevel'].loc[index-1]
/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/2460541406.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['sealevel'].loc[index] = weather_df['sealevel'].loc[index+1]

In [34]:
# For rows with missing values in 'wetbulb' column
wetbulb_null_idx = weather_df.loc[weather_df['wetbulb'].isnull()].index

# Impute the missing values with the corresponding values from the other station
for index in wetbulb_null_idx :
    if index % 2 == 0:
        weather_df['wetbulb'].loc[index] = weather_df['wetbulb'].loc[index+1]
    else:
        weather_df['wetbulb'].loc[index] = weather_df['wetbulb'].loc[index-1]

# Convert column to int and float data type
weather_df['wetbulb'] = weather_df['wetbulb'].astype(int)

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/4101184633.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['wetbulb'].loc[index] = weather_df['wetbulb'].loc[index+1]
/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/4101184633.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['wetbulb'].loc[index] = weather_df['wetbulb'].loc[index-1]

In [35]:
# Find out the index of the rows with missing values in 'avgspeed'
avgspeed_null_idx = weather_df.loc[weather_df['avgspeed'].isnull()].index

# Impute the missing values with corresponding values from the other station
for index in avgspeed_null_idx:
    if index % 2 == 0:
        weather_df['avgspeed'].loc[index] = weather_df['avgspeed'].loc[index+1]
    else:
        weather_df['avgspeed'].loc[index] = weather_df['avgspeed'].loc[index-1]
    
# Convert column to int and float data type
weather_df['avgspeed'] = weather_df['avgspeed'].astype(float)

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/2868790921.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['avgspeed'].loc[index] = weather_df['avgspeed'].loc[index-1]

In [36]:
## For rows with missing values in the 'stnpressure' column
weather_df_nonull = weather_df[weather_df['stnpressure'].notnull()]

# Convert the column datatype to float
weather_df_nonull['stnpressure'] = weather_df_nonull['stnpressure'].astype(float)

# Compute the mean for the 'stnpressure' column
print('Mean value:')
print(weather_df_nonull['stnpressure'].mean())

Mean value:
29.28442857142859

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/2637716554.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_nonull['stnpressure'] = weather_df_nonull['stnpressure'].astype(float)

In [37]:
# Fill the null values with the mean stnpressure value
weather_df['stnpressure'] = weather_df['stnpressure'].fillna(29.28)

# Convert the column to float data type
weather_df['stnpressure'] = weather_df['stnpressure'].astype(float)

In [38]:
## For rows with missing values in the 'preciptotal' column
weather_df_nonull = weather_df[weather_df['preciptotal'].notnull()]

## Convert the datatype in 'preciptotal' column to float
weather_df_nonull['preciptotal'] = weather_df_nonull['preciptotal'].astype(float)

## Compute the mean preciptotal value for the column
weather_df_nonull['preciptotal'].mean()

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/68261588.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_nonull['preciptotal'] = weather_df_nonull['preciptotal'].astype(float)

0.14724466463414596

In [39]:
weather_df['preciptotal']

0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
        ...
2939    0.00
2940    0.00
2941     NaN
2942    0.03
2943    0.04
Name: preciptotal, Length: 2944, dtype: object

In [40]:
# Fill the null values with the mean preciptotal value
weather_df['preciptotal'] = weather_df['preciptotal'].fillna(0.1472)

# Convert the column to float data type
weather_df['preciptotal'] = weather_df['preciptotal'].astype(float)

### Convert to datetime format

In [41]:
# change date to datetime format
# df['date'] = pd.to_datetime(df['date'])

train_df['date'] = pd.to_datetime(train_df['date'])
test_df['date'] = pd.to_datetime(test_df['date'])
spray_df['date'] = pd.to_datetime(spray_df['date'])
weather_df['date'] = pd.to_datetime(weather_df['date'])

In [42]:
# Check datetime column datatype after change
spray_df['date'].dtypes

dtype('<M8[ns]')

### Drop unwanted columns

In [43]:
train_df.columns

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'nummosquitos', 'wnvpresent', 'dupe'],
      dtype='object')

In [44]:
# Drop unnecessary columns in train_df
train_df.drop(['addressnumberandstreet', 'addressaccuracy', 'dupe'], axis=1, inplace=True)

In [45]:
test_df.columns

Index(['id', 'date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'dupe'],
      dtype='object')

In [46]:
# Drop unnecessary columns in test_df
test_df.drop(['addressnumberandstreet', 'addressaccuracy', 'dupe'], axis=1, inplace=True)

In [47]:
# Drop unnecessary columns in weather_df
weather_df.drop (['dupe'], axis=1, inplace=True)

### View entries in species column

In [48]:
print("These are the species detected in the train dataset")
display(train_df['species'].value_counts())
print("\n")
print("These are the species detected in the test dataset")
display(test_df['species'].value_counts())

These are the species detected in the train dataset

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: species, dtype: int64

These are the species detected in the test dataset

CULEX PIPIENS/RESTUANS    15359
CULEX RESTUANS            14670
CULEX PIPIENS             14521
CULEX SALINARIUS          14355
CULEX TERRITANS           14351
CULEX TARSALIS            14347
UNSPECIFIED CULEX         14345
CULEX ERRATICUS           14345
Name: species, dtype: int64

### Create new columns for year & month

In [49]:
# Create new column for year and month
# df['year'] = df['date'].dt.year
# df['month'] = df['date'].dt.month
# df['day'] = df['date'].dt.day

train_df['year'] = train_df['date'].dt.year
train_df['month'] = train_df['date'].dt.month
train_df['week'] = train_df['date'].dt.week
train_df['day'] = train_df['date'].dt.day
train_df['day_of_week'] = train_df['date'].dt.weekday

test_df['year'] = test_df['date'].dt.year
test_df['month'] = test_df['date'].dt.month
test_df['week'] = test_df['date'].dt.week
test_df['day'] = test_df['date'].dt.day
test_df['day_of_week'] = test_df['date'].dt.weekday

spray_df['year'] = spray_df['date'].dt.year
spray_df['month'] = spray_df['date'].dt.month
spray_df['week'] = spray_df['date'].dt.week
spray_df['day'] = spray_df['date'].dt.day
spray_df['day_of_week'] = spray_df['date'].dt.weekday

weather_df['year'] = weather_df['date'].dt.year
weather_df['month'] = weather_df['date'].dt.month
weather_df['week'] = weather_df['date'].dt.week
weather_df['day'] = weather_df['date'].dt.day
weather_df['day_of_week'] = weather_df['date'].dt.weekday

/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/3601053621.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  train_df['week'] = train_df['date'].dt.week
/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/3601053621.py:14: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  test_df['week'] = test_df['date'].dt.week
/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/3601053621.py:20: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  spray_df['week'] = spray_df['date'].dt.week
/var/folders/n2/ln256wq518d5zk05dzh0wrsw0000gn/T/ipykernel_71560/3601053621.py:26: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  weather_df['week'] = weather_df['date'].dt.week

### Final view of cleaned datasets

In [50]:
display(train_df.head())
display(test_df.head())
display(spray_df.head())
display(weather_df.head())

,date,address,species,block,street,trap,latitude,longitude,nummosquitos,wnvpresent,year,month,week,day,day_of_week
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,41.954690,-87.800991,1,0,2007,5,22,29,1
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,41.954690,-87.800991,1,0,2007,5,22,29,1
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,41.994991,-87.769279,1,0,2007,5,22,29,1
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,41.974089,-87.824812,1,0,2007,5,22,29,1
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,41.974089,-87.824812,4,0,2007,5,22,29,1

,id,date,address,species,block,street,trap,latitude,longitude,year,month,week,day,day_of_week
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,24,11,2
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,24,11,2
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,24,11,2
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,24,11,2
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,24,11,2

,date,time,latitude,longitude,year,month,week,day,day_of_week
0,2011-08-29,6:56:58 PM,42.391623,-88.089163,2011,8,35,29,0
1,2011-08-29,6:57:08 PM,42.391348,-88.089163,2011,8,35,29,0
2,2011-08-29,6:57:18 PM,42.391022,-88.089157,2011,8,35,29,0
3,2011-08-29,6:57:28 PM,42.390637,-88.089158,2011,8,35,29,0
4,2011-08-29,6:57:38 PM,42.390410,-88.088858,2011,8,35,29,0

,station,date,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,sunrise,...,stnpressure,sealevel,resultspeed,resultdir,avgspeed,year,month,week,day,day_of_week
0,1,2007-05-01,83,50,67,51,56,0,2,0448,...,29.10,29.82,1.7,27,9.2,2007,5,18,1,1
1,2,2007-05-01,84,52,68,51,57,0,3,0448,...,29.18,29.82,2.7,25,9.6,2007,5,18,1,1
2,1,2007-05-02,59,42,51,42,47,14,0,0447,...,29.38,30.09,13.0,4,13.4,2007,5,18,2,2
3,2,2007-05-02,60,43,52,42,47,13,0,0447,...,29.44,30.08,13.3,2,13.4,2007,5,18,2,2
4,1,2007-05-03,66,46,56,40,48,9,0,0446,...,29.39,30.12,11.7,7,11.9,2007,5,18,3,3

In [51]:
display(train_df.shape)
display(test_df.shape)

(10506, 15)

(116293, 14)

### Export cleaned datasets as csv files

In [52]:
train_df.to_csv('train_cleaned.csv', index=False)
test_df.to_csv('test_cleaned.csv', index=False)
weather_df.to_csv('weather_cleaned.csv', index=False)
spray_df.to_csv('spray_cleaned.csv', index=False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=8e68f114-0b87-4716-bcc4-14459d10165c' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>